@font-face {
  font-family: Cruinn-Black;
  src: url(/fonts/ofont.ru_Cruinn-Black.ttf);
}

@font-face {
  font-family: Cruinn-Regular;
  src: url(/fonts/ofont.ru_Cruinn-Regular.ttf);
}

body {
  background-color: #ffffff;
  height: 100%;
}

.show {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.cont_signin {
  height: 100vh;

}

.cont {
  padding-top: 300px;
  display: flex;
  justify-content: center;
}

.form_registration,
.form_entrance {
  width: 300px;
  padding: 50px;
  border-radius: 7px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.form_input,
.form_button,
.form_button_reg,
.google_button,
.signin_or {
  font-family: sans-serif;
  font-size: 16px;
}

.cont_form_title {
  display: flex;
  justify-content: center;

}

.form_title_entrance,
.form_title_registration,
.form_title_entrance_r,
.form_title_registration_r,
.slash_title {
  font-family: Cruinn-Black;
  text-align: center;
  margin: 0 0 25px 0;
  font-weight: normal;
  color: rgb(170, 170, 170);
}

.form_title_entrance,
.form_title_registration,
.form_title_entrance_r,
.form_title_registration_r {
  cursor: pointer;
}

.form_button,
.form_button_reg {
  font-family: Cruinn-Regular;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  background-color: rgb(45, 48, 230);
  border: none;
  border-radius: 5px;
  color: rgb(253, 253, 253);
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.form_button:focus,
.form_button:hover,
.form_button_reg:focus,
.form_button_reg:hover,
.google_button:focus,
.google_button:hover {
  background-color: rgb(89, 89, 230);
}

.cont_google_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.form_group {
  position: relative;
  margin-bottom: 30px;
}

.form_label {
  font-family: Cruinn-Regular;
  position: absolute;
  top: 0;
  z-index: -1;
  color: #9e9e9e;
  transition: 0.5s;
}

.input_style {
  color: #ffffff;
  width: 301px;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.5s;
}

.input_style:focus {
  border-bottom: 1px solid rgb(109, 109, 243);
}

.input_style:focus~.form_label,
.input_style:not(:placeholder-shown)~.form_label {
  top: -18px;
  font-size: 12px;
  color: #e0e0e0;
}